<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="/">
            🏏 India Cricket Stats
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link <%= page === 'home' ? 'active' : '' %>" href="/">Home</a>
                </li>
                <% if (isAuthenticated) { %>
                <li class="nav-item">
                    <a class="nav-link <%= page === 'players' ? 'active' : '' %>" href="/players">Players</a>
                </li>
                <% } %>
            </ul>
            <ul class="navbar-nav">
                <% if (isAuthenticated) { %>
                    <li class="nav-item">
                        <span class="navbar-text text-warning me-3">
                            Welcome, <%= user.displayName %>
                        </span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/auth/logout">Logout</a>
                    </li>
                <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/auth/google">Login with Google</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/auth/github">Login with GitHub</a>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>